.body {
  background-image: url("../../assets/images/meat.dish.jpg");
  background-size: cover;
}

/*.recipes-tbody {*/
/*  height: 210px;*/
/*  width: 70%;*/
/*}*/

  ul{
    list-style: none;
    display: flex;
    margin-left: 300px;
  }

  img{
    width: 200px;
    height: 170px;
  }

.recipes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe-table{
  width: 75%;
}

.genre-table{
  width: 17%;
  margin-left: 5%;
}


.new-recipe{     /*新着レシピ　タイトル*/
  width: 80%;
  margin: 0 auto;
  border: 1px solid #f0fff0;
  background-color: white;
  text-align: center;
}

@media screen and (max-width:425px) {
  .body{
    width: 100%;
    height: 280px;
  }

  .body-on{
    width: 100%;
    height: 280px;
    padding-top: 50px;
    background-color: rgba( 0, 0, 0, 0.1);
  }

  .row{
    display: initial;
  }

  .erase{
    display: none;
  }

  .font-14{
    font-size: 14px;
  }

  ul{
    width: 100%;
    margin-left: 0;
    margin: 0 auto;
    font-size: 10px;
  }

  li{
    margin: 0 4px;
  }

  .new-recipe{
    margin-left: initial;
    width: 100%;
  }

  .block{
    display: block;
  }

  img{
    width: 100px;
    height: 80px;
  }
}