<div class="container-fluid py-5", style="background-color: #fff3b8;">

  <div class="row">
    <h1 class="mx-auto font-weight-bold px-5 py-3 mb-4 rounded", style="background-color: lightpink;">〜 お気に入りレシピ 〜</h1>
  </div>

  <div class="row mt-4">
    <h5 class="mx-auto">
      <%= "#{@recipes.count} 件 の レ シ ピ" %>
    </h5>
  </div>
  <div class="row">
    <table class="table table-sm col-8 mt-3 border mx-auto", style="background-color: #f0fff0;">
      <%= render 'layouts/member_recipes', recipes: @recipes %><!--レシピ一覧テーブルの中身-->
    </table>
  </div>

</div>

